{% extends "crm/base.html" %}
{% load tailwind_filters %}
{% block content %}
  <div class="max-w-lg mx-auto">
    <h1 class="text-4xl mb-5">Are you sure you want to delete this Agent?</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit"
              class="py-2 px-3 mb-1 border-1 rounded-lg text-white bg-red-500 hover:bg-red-600">Submit</button>
      <a href="{% url 'agents:agent-detail' pk=agent.pk %}"
         class="py-2 px-3 mb-1 border-1 rounded-lg text-white bg-blue-500 hover:bg-blue-700">Cancel</a>
    </form>
  </div>
{% endblock content %}
