{% extends "crm/base.html" %}
{% load tailwind_filters %}
{% block title %}
  CRM - ResetPassword
{% endblock title %}
{% block content %}
  <div class="max-w-lg mx-auto">
    <h1 class="text-4xl text-gray-800">Enter your new password</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit"
              class="py-2 px-3 mb-1 border rounded-lg text-white bg-blue-500 hover:bg-blue-700 w-full">
        Confirm new Password
      </button>
    </form>
  </div>
{% endblock content %}
