<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lead Detail</title>
    <style>
      .lead {
          padding: 10px 6px;
          margin-top: 10px;
          background-color: #f6f6f6;
          width: 85%;
      }

      ul {
          padding: 0;
      }

      div.lead>li {
          list-style-type: none;
      }
    </style>
  </head>
  <body>
    <a href="{% url 'crm:home' %}">Back</a>
    <hr/>
    <h1>This is the details of {{ lead.first_name }} {{ lead.last_name }}</h1>
    <p>This persons age: {{ lead.age }}</p>
    <p>The agent responsible for this lead is: {{ lead.agent.user.username }}</p>
    <hr/>
    <a href="{% url 'crm:lead-update' pk=lead.id %}">Update</a>
    <a href="{% url 'crm:lead-delete' pk=lead.id %}">Delete</a>
  </body>
</html>
